.faqContent {
  padding: 22px 22px; /* 상하좌우 여백 조절 */
}

.faqTitle {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
  margin-left: 2px;
}

.faqItem {
  margin-bottom: 20px;
}

.faqQuestion {
  color: #888;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 7px;
}

.faqAnswer {
  color: #222;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 2px;
}
