.overlayContainer {
  position: relative;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  border-radius: 12px;
  padding: 24px 32px;
  height: 30%;
  max-width: 50%;
  width: 50%;
  top: 10%;
  margin: auto;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
  font-family: 'Noto Sans KR', sans-serif;
}

.title {
  font-size: 3rem;
  margin: 0;
  font-weight: 700;
  line-height: 1.2;
}

.artist {
  font-size: 1.5rem;
  margin: 10px 0 0 0;
  font-weight: 400;
}

.infoBlock {
  font-size: 1rem;
  margin: 10px 0;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.lyricist {
  color: #96a7ec; /* 부드러운 파란색 */
}

.composer {
  color: #8ac3b8; /* 소프트 그린 */
}

.key {
  color: #eccc6b; /* 따뜻한 옐로우 */
}

.source {
  font-size: 1rem;
  margin-top: 25px;
  color: #b2bdd4; /* 연한 블루 그레이 */
}

.copyrightNotice {
  font-size: 0.9rem;
  margin-top: 6px;
  padding-top: 8px;
  border-top: 1px solid #375189; /* 진한 파란색 */
  color: #b2bdd4;
  line-height: 1.4;
}
